.hero {
  min-height: calc(100vh - 264px);
  min-height: -webkit-fill-available;

  padding-block-start: 144px;

  line-height: var(--line-height-hero);

  background: var(--color-background-hero);
}

.hero__name {
  color: var(--blue);
}

.hero__role-old {
  text-decoration: line-through;
}

.hero__role-new {
  padding: var(--s-2) 0;
  background: var(--blue);
}
