.hero {
  height: calc(100vh - 264px);

  padding-top: 144px;

  line-height: 35px;

  background: var(--color-background-hero);
}

.hero__name {
  color: var(--blue);
}

.hero__role-old {
  text-decoration: line-through;
}

.hero__role-new {
  padding: var(--s-2) 0;
  background: var(--blue);
}
