* {
  box-sizing: border-box;
}

html {
  font-family: var(--main-font-family);
}

// Typography
//////////

h1,
h2,
h3,
h4,
p,
span,
label {
  color: var(--color-font-main);
}

h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: var(--s0);
  font-size: var(--font-size-large);
}

.outlined-font {
  color: var(--color-font-outline);
  text-shadow: -2px -2px 0 var(--color-font-outline-border),
    2px -2px 0 var(--color-font-outline-border),
    -2px 2px 0 var(--color-font-outline-border),
    2px 2px 0 var(--color-font-outline-border);
}

.outline-secondary {
  color: var(--color-font-outline-secondary);
}

// Typography end
//////////

// Forms
//////////

form {
  * + * {
    margin-block-start: var(--s1);
  }
}

label {
  display: block;

  font-size: var(--font-size-small);
}

input,
textarea {
  width: 100%;

  margin-block-start: var(--s-1);
  padding: var(--s-1) var(--s-2);

  background: transparent;
  border: 1px solid var(--color-font-main);

  color: var(--color-font-main);
  font-size: var(--font-size-small);

  &:focus {
    outline: none;
    border-color: var(--yellow);
  }
}

button {
  width: 100%;

  padding: var(--s0) var(--s1);

  background: var(--color-background-main);
  border: none;
  border-radius: 3px;

  color: var(--color-font-main);
  font-size: var(--font-size-small);
}

// Lists
//////////

ul {
  padding: 0;

  list-style: none;
}

li {
  margin: 0;
  display: inline-block;
}

// Layout
//////////

.container {
  padding-inline-start: var(--s1);
  padding-inline-end: var(--s1);
}

.section {
  padding-block-start: var(--s4);
  padding-block-end: var(--s4);
}

.main {
  background: var(--color-background-main);
}

.flow {
  & > * + * {
    margin-block-start: var(--s0);
  }
}

.cv-flow {
  & > * + * {
    margin-block-start: 80px;
  }
}
