:root {
  /* Colors */
  --black: #090909;
  --blue: #0500ff;
  --yellow: #ffec00;
  --purlwhite: #e1daff;

  /* Intentions */
  --color-background-hero: var(--black);
  --color-background-main: var(--blue);
  --color-font-main: var(--purlwhite);

  --color-font-highlight: var(--yellow);

  --color-font-outline: var(--blue);

  /* Type */
}
